table#tableid {
   border-collapse: collapse;
   width: 100%;
   background-color: transparent; 
}
body {

  /* --------------------- */
  /* align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(0, 225, 255) 0%, rgb(0, 225, 255) 25%, rgb(0, 225, 255) 51%, #ff3557 100%);
  -webkit-animation: AnimateBG 30s ease infinite;
          animation: AnimateBG 30s ease infinite; */
          /* ------------ */
          /* background: rgb(0,142,255); */
          /* background: radial-gradient(circle, rgb(211, 99, 207) 0%, rgb(69, 168, 248) 100%); */

          background: linear-gradient(90deg, rgb(34, 100, 153) 0%, rgb(153, 68, 150) 100%);

                  
        }


/* @-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./svg/nnnoise.svg');
  opacity: 1; 
} */
#root {
 
    background-image: url('./svg/nnnoise.svg');
    
}