body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom {
  background-color: rgba(252, 134, 23, 0.582);
}
.bg-imagineOptions {
  background-color: rgba(68, 172, 90, 0.479);
  
}
.addbutton {
  background-color: rgba(182, 25, 122, 0.479);
  
}
.conteinerWidht {
  width: 80%;
}

.backgroundWhite {
  background-color: rgb(255, 255, 255);
  
}
.zonesButtons > div:first-child {
  margin-left: 0;
}

.zonesButtons > div:last-child {
  margin-right: 0;
}
.pacientCard {
  background-color: rgb(211, 242, 255);

}
